<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>{% block titulo %}{% endblock %}</title>
		<meta name="description" content="" />
		<meta name="author" content="Javier" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		
		<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css" />
		<link rel="stylesheet" href="{{STATIC_URL}}css/flat-ui.css" />
		<link rel="stylesheet" href="{{STATIC_URL}}css/estilo.css" />
		 <script src="http://code.jquery.com/jquery.js"></script>
		<script src="{{STATIC_URL}}js/bootstrap.js"></script>
		<script src="{{STATIC_URL}}js/carousel.js"></script>
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Financiero</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="productos.html">Contabilidad</a></li>
            <li class="active"><a href="clientes.html">Compras</a></li>
            <li><a href="#contact">Ventas</a></li>
            <li><a href="#contact">Inventario</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
		
	<div class="container">

      <div class="starter-template" >
      	
		<div class="row">
			{% block contenido %}{% endblock %}
		</div>
		
	  </div>
	  
	</div>
		
	</body>
</html>
